<robot name="simple_box">
  <link name="my_box">
    <inertial>
      <origin xyz="0.0 0.0 0.025" />
      <mass value="0.390" />
      <inertia  ixx="0.00058" ixy="0.0"  ixz="0.0"  iyy="0.00058"  iyz="0.0"  izz="0.00019" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.2" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_box">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>

